<h1>Alphabetized Customers</h1>
<% @customers.each do |customer| %>
    <div>
        <%= render partial: "customer", locals: {customer: customer } %>
    </div>
<% end %>
<a href="http://localhost:3000/customers/">Full customer list.</a><br>
<a href="http://localhost:3000/customers/missing_email">Customers with missing emails.</a>