<h1>All Customers</h1>
<div id="outer">
    <% @customers.each do |customer| %>
        <div id="inner">
            <%= render partial: "customer", locals: {customer: customer } %>
        </div>
    <% end %>
    <div>
        <a href="http://localhost:3000/customers/alphabetized">Click here for the alphabetized customer list,</a>
        <a href="http://localhost:3000/customers/missing_email"> and here for customers with missing emails.</a>
    </div>
</div>
