<h1>Customers Without Emails</h1>
<div id="outer">
    <% @customers.each do |customer| %>
        <div id="inner">
            <%= render partial: "customer", locals: {customer: customer } %>
        </div>
    <% end %>
    <div>
        <a href="http://localhost:3000/customers/">Click here for the full customer list,</a>
        <a href="http://localhost:3000/customers/alphabetized">and here for the alphabetized customer list.</a>
    </div>
</div>