@import "active_admin/mixins";
@import "active_admin/base";

#outer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, calc(100% / 4 - 2rem)));
    justify-content: space-around;
    gap: 2rem;
    place-items: center;
}
#inner{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    height: 350px;
}
span{
    font-weight: bold;
}
a{
    color: black;
}